/*Sip & Chow Header*/
header {
    text-align: center;
    font-size: 60px;
    color: #FFF;
    background-color: #333;
    text-shadow: green 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 0px;
    word-spacing: 2px;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
   }
/*Chow Content*/
.column{
    height: 100%;
    width: 50%;
    float: right;
    font-size: 20px;
    align-items: center;
    box-sizing: border-box;
}
/*Sip Content*/
.columns{
    height:100%;
    width: 50%;
    float: left;
    font-size: 20px;
    align-items: center;
    box-sizing: border-box;

}
/*User intructions*/
label h4{
    font-size: 35px;
    text-shadow: green 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
    text-align: center;
    margin-top: 30px;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: small-caps;
    text-transform: capitalize;
    }

/* I would like to :*/
label h2{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
}
/* Results*/
div{
    text-align: center;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    font-family: "Arial Black", Gadget, sans-serif;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
}
/* Box Content */
input{
text-align: center;
font-size: 20px ;
border-color:yellowgreen;
}
/*Buttons*/
button{
    font-size: 20px;
    color: #FFF;
    background-color: #333;
    text-shadow: green 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 0px;
    word-spacing: 2px;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
    cursor: pointer;
}
button:hover{
    color: #ff0;
}