/*Sip & Chow Header*/
header {
    text-align: center;
   font-size: 50px;
   color: #FFF;
   background-color: #333;
   text-shadow: green 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
   }
/*Chow Content*/
.column{
    height: 50%;
    width: 50%;
    float: right;
    font-size: 20px;
    align-items: center;
    box-sizing: border-box;
}
/*Sip Content*/
.columns{
    height:50%;
    width: 50%;
    float: left;
    font-size: 20px;
    align-items: center;
    box-sizing: border-box;
    border:green 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
}
/* I would like to :*/
label h2{
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
/* Results*/
div{
    text-align: center;
    font-size: 20px;
}
/* Box Content */
input{
text-align: center;
font-size: 20px ;
border-color:yellowgreen
}
/*Buttons*/
button{
    font-size: 20px;
    color: #FFF;
    background-color: #333;
    text-shadow: green 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
}